.animatedSearch {
  --fg: #17181c;
  --input: #ffffff;
  --primary: #255ff4;
  --dur: 1s;
  flex: 1 1 160px;
}

/* Idle hint pulse */
@keyframes animatedSearch_pulse {
  0% { box-shadow: 0 0 0 0.25em inset, 0 0 0 rgba(37,95,244,0); }
  60% { box-shadow: 0 0 0 0.25em inset, 0 0 12px rgba(37,95,244,0.25); }
  100% { box-shadow: 0 0 0 0.25em inset, 0 0 0 rgba(37,95,244,0); }
}

.animatedSearch form,
.animatedSearch input,
.animatedSearch .caret {
  margin: 0;
}

.animatedSearch form {
  position: relative;
  width: 100%;
  max-width: none;
}

.animatedSearch input,
.animatedSearch .caret {
  display: block;
  transition: all calc(var(--dur) * 0.5) linear;
}

.animatedSearch input {
  color: var(--fg);
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0.25em inset;
  caret-color: var(--primary);
  width: 2em;
  height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  animation: animatedSearch_pulse 2.6s ease-in-out infinite;
}

.animatedSearch input:focus,
.animatedSearch input:valid {
  background: var(--input);
  border-radius: 0.25em;
  box-shadow: none;
  padding: 0.75em 1em;
  transition-duration: calc(var(--dur) * 0.25);
  transition-delay: calc(var(--dur) * 0.25);
  width: 100%;
  height: 3em;
  animation: none;
}

.animatedSearch input:focus {
  animation: animatedSearch_showCaret var(--dur) steps(1);
  outline: transparent;
}

.animatedSearch input:focus + .caret,
.animatedSearch input:valid + .caret {
  animation: animatedSearch_handleToCaret var(--dur) linear;
  background: transparent;
  width: 1px;
  height: 1.5em;
  transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
}

.animatedSearch input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.animatedSearch label {
  color: #e3e4e8;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.animatedSearch .caret {
  color: var(--fg);
  background: currentColor;
  border-radius: 0 0 0.125em 0.125em;
  margin-bottom: -0.6em;
  width: 0.25em;
  height: 1em;
  transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
  transform-origin: 50% 0;
}

@media (prefers-color-scheme: dark) {
  .animatedSearch {
    --fg: #e3e4e8;
    --input: #2e3138;
    --primary: #5583f6;
  }
}

@keyframes animatedSearch_showCaret {
  from { caret-color: transparent; }
  to { caret-color: var(--primary); }
}

@keyframes animatedSearch_handleToCaret {
  from {
    background: currentColor;
    width: 0.25em;
    height: 1em;
    transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
  }
  25% {
    background: currentColor;
    width: 0.25em;
    height: 1em;
    transform: translate(0, -1em) rotate(-180deg) translate(0, 0.875em);
  }
  50%, 62.5% {
    background: var(--primary);
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, 2.5em);
  }
  75%, 99% {
    background: var(--primary);
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
  }
  87.5% {
    background: var(--primary);
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, 0.125em);
  }
  to {
    background: transparent;
    width: 1px;
    height: 1.5em;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
  }
}
